<ion-header>
  <ion-toolbar>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-label><b>Uso do app</b></ion-label>
    </ion-item>
    <ion-item>
        <p>
            Para o bom funcionamento do App, é necessário selecionar a k constante do animal alvo, em seguida inserir
            o peso do animal alvo. Logo após selecionar a k do animal modelo e inserir o peso do animal modelo. Clicar 
            no botão calcular para obter os resultados que também serão usados para cálculo de dose e intervalo. Após
            obter os resultados, se desejar obter valores de dose total e intervalo de horas e dias é necessário inserir
            a dose em mg/kg e o intervalo de horas do animal modelo.
        </p>
    </ion-item>
    <ion-item>
        <ion-label><b>Extrapolação Alométrica</b></ion-label>
    </ion-item>
    <ion-item>
        <p>
            Alometria é o estudo da maneira pela qual uma variável dependente (taxa metabólica), varia em relação a uma variável independente (massa corporal). Assim, nada mais é que é a representação matemática da consequência funcional da diferença de massa entre
            os animais.
        </p>
    </ion-item>
    <ion-item>
        <p>
            O método de extrapolação alométrica, com base na TMB, permite o estudo das relações de funções e sistemas orgânicos com a massa corporal, a alometria serve para padronizar medidas diferentes, colocando valores num mesmo padrão numérico. Assim, a TMB é
            o ponto fundamental para os cálculos de extrapolação alométrica destinados a estabelecer protocolos posológicos em medicina veterinária.
        </p>
    </ion-item>
    <ion-item>
        <p>
            Cálculos alométricos permitem determinar, para qualquer animal amniota de qualquer tamanho, dados fisiológicos fundamentais como, por exemplo, frequência cardíaca em repouso, volume sanguíneo, débito cardíaco, frequência respiratória, consumo de oxigênio,
            volume-minuto, volume do espaço morto anatômico e tamanho de órgãos, entre outros.
        </p>
    </ion-item>
</ion-list>

</ion-content>
